* {
    box-sizing: border-box;
}

.img-palavra {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
}

.forca {
    margin-top: 50px;
}

.stage0 {
    width: 350px;
    height: 500px;
}

.caixa-direita {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-escolhe-palavra {
    width: 150px;
    height: 50px;
    margin-bottom: 250px;
    background-color: rgb(39, 167, 39);
    border-radius: 7px;
}

.button-escolhe-palavra p {
    color: white;
    font-size: 17px;
    font-weight: 1000;
}

button:hover {
    cursor: pointer;
}

.palavra {
    display: flex;
    gap: 10px;
}

.palavra p {
    font-size: 50px;
}

.caixa-teclas {
    width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}


.botao-letra {
    width: 65px;
    height: 65px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgb(131, 131, 225);
    background-color: rgb(193, 214, 222);
}

.botao-letra:disabled {
    background-color: rgba(128, 128, 128, 0.792);
    border: none;
}
