* {
    box-sizing: border-box;
}

.img-palavra {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
}

.forca {
    margin-top: 50px;
}

.stage {
    width: 350px;
    height: 500px;
}

.caixa-direita {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-escolhe-palavra {
    width: 150px;
    height: 50px;
    margin-bottom: 250px;
    background-color: rgb(39, 167, 39);
    border-radius: 7px;
}

.button-escolhe-palavra p {
    color: white;
    font-size: 17px;
    font-weight: 1000;
}

button:hover {
    cursor: pointer;
}

.palavra {
    display: flex;
    gap: 10px;
}

.palavra p {
    font-size: 50px;
}

.caixa-teclas {
    width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}


.botao-letra {
    width: 65px;
    height: 65px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgb(131, 131, 225);
    background-color: rgb(193, 214, 222);
    color: rgb(38, 38, 101);
}

.botao-letra:disabled {
    background-color: rgba(128, 128, 128, 0.792);
    color: gray;
    border: none;
}

.caixa-chute {
    width: 850px;
    display: flex;
    margin: 40px auto;
    justify-content: space-between;
}

.caixa-chute p {
    font-size: 35px;
    text-align: center;
}

.caixa-chute input {
    width: 300px;
    font-size: 20px;
    margin-right: 95px;
    background-color: white;
    border-radius: 8px;
}

.botao-chutar {
    width: 100px;
    height: 45px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid rgb(131, 131, 225);
    background-color: rgb(193, 214, 222);
    color: rgb(38, 38, 101);
}


@media (max-width: 1140px) {
    .img-palavra {
        width: 100%;
    }
}

@media (max-width: 1000px) {

    .caixa-teclas {
        width: 650px;
    }

    .botao-letra {
        width: 40px;
        height: 40px;
    }
}



/* @media (max-width: 700px) {

    .stage {
        width: 200px;
    }

    .button-escolhe-palavra {
        width: 80px;
    }

    .caixa-teclas {
        width: 400px;
    }

    .botao-letra {
        width: 40px;
        height: 40px;
    }
} */